<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Bird Journal" />
    <meta
      property="og:description"
      content="web application for bird journaling"
    />
    <meta
      property="og:image"
      content="https://nature-journal.onrender.com/images/screenshot.png"
    />
    <meta
      property="og:url"
      content="https://nature-journal.onrender.com/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Bird Journaling App" />
    
    <link
      rel="stylesheet"
      id="font-awesome-css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css?ver=6.5.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-SF8R56H54Q"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-SF8R56H54Q");
</script>
    <title>bird journal</title>
  </head>
  <body class="d-flex flex-column min-vh-100"></body>
  <div class="container">

    <nav class="row">
      <h1 class="mt-3 col-12 col-lg-6 logo-text"><a href="/"><i class="fa-solid fa-book"></i>
        bird journal</a></h1>
      <div class="col-12 col-lg-6 d-flex flex-column flex-md-row justify-content-end align-items-center mt-3">
      <!-- <% if (!isAuthenticated) { %>
        <div><a href="/login" class="text-decoration-none  me-md-3"> login</a>&nbsp;</div>
        <div><a href="/signup" class="text-decoration-none"> sign up</a></div>
        <% } %> -->
        <% if (isAuthenticated) { %>
        <a href="/entries/allUser/<%= loggedInUser._id %>" class="text-decoration-none me-md-3 <% if (view === "allUserEntries" && loggedInUser._id.toString() === requestedUser.toString()) { %> active <% } %>">my journal</a>&nbsp;
        <a href="/users" class="text-decoration-none me-md-3 <% if (view === "getUsers") { %> active <% } %>">journalers </a>&nbsp;
        <a href="/entries/addEntry" class="text-decoration-none  me-md-3 <% if (view === "getEntryForm") { %> active <% } %>">add entry </a>&nbsp;
        <a href="/logout" class="text-decoration-none"> logout</a>
        <a href="/entries/user/<%= loggedInUser._id %>"><img class="nav-avatar" src="<%= loggedInUser.image %>" alt="<%= loggedInUser.userName %>"></a>
        <% } %>
      </div>
    </nav>

  <main class="flex-grow-1"></main>

    
