body {
  box-sizing: border-box;
  background: rgb(247, 247, 235);
}

button {
  border: none;
  background: none;
  color: #15618c;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:fit-content;
  input {
    margin-bottom: 1rem;
  }
}

.centered-form {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.303);
  border-radius: 5px;
  padding: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

.formRow {
  margin: 4px 0;
}

.entriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}
.entry {
  padding: 1rem;
  flex-basis: 155px;
  background: white;
}

.entry-image {
  width: 400px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  max-width: 600px;
}

img.thumbnail {
  height: 125px;
}