:root {
  --bs-link-color-rgb: 57, 69, 123;
}

.btn-primary {
  --bs-btn-bg: rgb(57, 69, 123);
  --bs-btn-border-color: rgb(57, 69, 123);
}

.btn-outline-primary {
  --bs-btn-color: rgb(57, 69, 123);
  --bs-btn-border-color: rgb(57, 69, 123);
}

body,
html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: white;
}

h1 a {
  text-decoration: none;
}

h2 {
  color: rgb(71, 71, 71);
}

h3 {
  font-size: 24px;
  color: rgb(57, 69, 123);
}

button {
  border: none;
  background: none;
  color: rgb(57, 69, 123);
}

/* form styles */

form {
  display: flex;
  flex-direction: column;

  width: fit-content;
  input {
    margin-bottom: 0.5rem;
  }
  input[type="submit"] {
    align-self: center;
  }
}

.centered-form {
  margin: 2rem auto 0;
  border: 1px solid rgba(0, 0, 0, 0.142);
  border-radius: 5px;
  padding: 1rem;
}

@media(min-width: 305px) {
  .centered-form {
    width: 300px;
  }
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

.formRow {
  margin: 4px 0;
}

#imagePreview {
  display:none;
  max-width: 200px;
  margin: 0 auto .75rem;
}

#aiButton {
  display: none;
}

/* entries styles */

.entriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .entriesList {
    justify-content: center;
  }
}

.entry {
  border-radius: 5px;
}

.entry-image {
  width: 100%;
}

.entry-box {
  border: 1px solid rgba(0, 0, 0, 0.142);
}

.facts-column {
  background: #0c5dd738;
  padding: 1.5rem;
  border-radius: 0 5px 5px 0;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
  }
  button:hover {
    color: #0a58ca;
  }
}

img {
  width: 100%;
  border-radius: 5px;
  max-width: 600px;
}

img.thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* nav and avatars */

.avatar {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.listing {
  position: relative;
}

.listing-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.142);
  position: absolute;
  top: -10px;
  left: -10px;
  background: #fff;
}

.entry-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.nav-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 16px;
  object-fit: cover;
}

.logo-text {
  text-align: left;
}
@media (max-width: 768px) {
  .nav-avatar {
    margin-left: 0;
    margin-top: 1rem;
  }
  .logo-text {
    text-align: center;
  }
}

.active {
  font-weight: 700;
  // color: rgb(71, 71, 71);
}

/* footer styles */

footer p,
footer small {
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: 500;
}

footer .fa-terminal {
  animation: terminal-animate 1.5s infinite;
}

@keyframes terminal-animate {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
